@font-face {
	font-family: 'Noto-Bold';
	src: url(NotoSerifJP-Bold.otf);
}
.headiv{
    display: flex;
    position: absolute;
    background-color: #213743;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
}
.header{
    font-family: Noto-Bold;
    position: absolute;
    color: #ffffff;
    font-size: 30px;
    left: 10px;
}
.hum{
    text-align: center;
    position: fixed;
    z-index: 100;
    right: 10px;
	background:#213743;
	cursor: pointer;
    width: 50px;
    height:50px;
	border-radius: 5px;
}
.hum span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: #fff;
  	width: 45%;
}
.hum span:nth-of-type(1) {
	top:15px;	
}
.hum span:nth-of-type(2) {
	top:23px;
}
.hum span:nth-of-type(3) {
	top:31px;
}
.hum.active span:nth-of-type(1) {
    top: 18px;
    left: 12.5px;
    transform: translateY(6px) rotate(-45deg);
    width: 50%;
}
.hum.active span:nth-of-type(2) {
	opacity: 0;
}

.hum.active span:nth-of-type(3){
    top: 30px;
    left: 12.5px;
    transform: translateY(-6px) rotate(45deg);
    width: 50%;
}
.menu {
    z-index: 90;
    position:fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    overflow: scroll;
    transition: 150ms linear;
    background-color: #213743;
}
.menu div:nth-of-type(1){
    position: absolute;
    top: 75px;
    left: 10px;
    right: 10px;
    border: 2px solid #FFFFFF;
}
.menu.show {
    width: 30%;
}
.dark{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    transition: 150ms;
    opacity: 0%;
}
.dark.active{
    opacity: 30%;
}
.exa{
    position: absolute;
    top: 100123px;
}
